/* #343A40 */
html {
  scroll-behavior: smooth;
}

main{
  background-image: url(./../img/main-bg3.svg);
  background-size: cover;
  background-attachment: fixed;
}

header{
  min-height: 70vh;
  background-image: url(./../img/header-bg2.svg);
  background-size: cover;
  background-position: bottom;
}

h1{
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

h2{
  text-align: center;
  color: white;
}

nav li>a{
  font-size: 1rem;
  white-space: nowrap;
}

p{
  color: black;
  font-size: 1.2rem;
  text-align: justify;
}

#header-title{
  height: 300px;
}

.logo-navbar{
  width: 50px;
}

.logos-navbar{
 width: 200px;
}

.navbar{
  padding: 10px;
}

#presentation{
  min-height: 100vh;
}

#experience-formations{
  min-height: 100vh;
  padding-top: 100px;
}

#competences{
  min-height: 100vh;
}

h3{
  font-size: 2rem;
  color: #462B4C;
}

.bloc-text{
  background-color: rgb(255, 255, 255, 0.9);
  padding: 30px;
  border: 8px solid white;
}

.bloc-competences{
  background-color: rgb(255, 255, 255, 0.9);
  padding: 5px;
  border: 8px solid white;
  margin: 10px;
}

.logo-competences{
  width: 100px;
}

.progress{
  border: 2px solid #343A40;
}

.progress-bar-html{
  background-color: #F16524;
}

.progress-bar-css{
  background-color: #29A9DF;
}

.progress-bar-bootstrap{
  background-color: #62488A;
}
#presentation img{
  width: 250px;
  border-radius: 120px;
  border: 8px solid white;
}


@media screen and (min-width:1200px){

  nav>div:nth-child(1){
    order: 2;
  }

  nav>div:nth-child(2){
    order: 1;
  }
}
