/* GENERAL */
html {
  scroll-behavior: smooth;
}

main{
 background-image: url(./../img/main-bg.svg);
 background-size: cover;
 background-attachment: fixed;
}

p{
  color: black;
  font-size: 1.3em;
  text-align: justify;
}

.bloc-text{
  background-color: rgb(255, 255, 255, 0.9);
  padding: 30px;
  border: 8px solid white;
}

/* HEADER */

header{
  min-height: 70vh;
  background-image: url(./../img/header-bg2.svg);
  background-size: cover;
  background-position: bottom;
}

#header-title{
  height: 300px;
}

h1{
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  color: white;
}

h2{
  text-align: center;
  color: white;
}

/* NAV */

nav li>a{
  font-size: 1rem;
  white-space: nowrap;
}

.logo-navbar{
  width: 50px;
}

.logos-navbar{
 width: 200px;
}

.navbar{
  padding: 10px;
}

/* SECTION PRESENTATION */

#presentation{
  min-height: 100vh;
}

#presentation h3{
  font-size: 2.1em;
  color: white;
  margin-bottom: 30px;
  font-family: 'Krona One', sans-serif;
  font-weight: normal;
}

#presentation img{
  width: 250px;
  border-radius: 120px;
  border: 8px solid white;
}

/* SECTION EXPERIENCE & FORMATIONS */

#experience-formations{
  min-height: 100vh;
  padding-top: 100px;
}

#experience-formations h3{
  font-size: 2.1em;
  color: white;
  margin-bottom: 30px;
  font-family: 'Krona One', sans-serif;
  font-weight: normal;
}

/* SECTION COMPETENCES */

#competences{
  min-height: 100vh;
}

#competences h3{
  font-size: 1.6em;
}

#competences>div>div>div>h3{
  font-size: 2.1em;
  color: white;
  margin-bottom: 30px;
  font-family: 'Krona One', sans-serif;
  font-weight: normal;
}

.bloc-competences{
  background-color: rgb(255, 255, 255, 0.9);
  padding: 5px;
  border: 8px solid white;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.text-bloc-competences{
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.progress{
  border: 2px solid #343A40;
}

.progress-bar-html{
  background-color: #F16524;
}

.progress-bar-css{
  background-color: #29A9DF;
}

.progress-bar-bootstrap{
  background-color: #62488A;
}

.progress-bar-js{
  background-color: #DAB92D;
}

.progress-bar-php{
background-color: #4F5B93;
}

.progress-bar-mysql{
background-color: #00678F;
}

.progress-bar-git{
background-color: #F05033;
}

.progress-bar-jquery{
background-color: #0C68AC;
}

.progress-bar-anglais{
background-color: #00009C;
}

.arrow-fixed-bottom{
  font-size: 3.5rem;
  color: white;
}

/* SECTION PROJETS */

#projets{
  min-height: 100vh;
}

#projets h3{
  font-size: 1.6em;
}

#projets h4{
  font-size: 1em;
}

#projets>div>div>div>h3{
  font-size: 2.1em;
  color: white;
  margin-bottom: 30px;
  font-family: 'Krona One', sans-serif;
  font-weight: normal;
}

.bloc-projets{
  background-color: rgb(255, 255, 255, 0.9);
  padding: 5px;
  border: 8px solid white;
}

.text-padding-projets{
  padding-left: 30px;
  padding-right: 30px;
}

.link-cleaner-world{
  font-size: 1.5em;
  color: #205e05;

}

/* RESPONSIVE */

@media screen and (min-width:1200px){

  nav>div:nth-child(1){
    order: 2;
  }

  nav>div:nth-child(2){
    order: 1;
  }
}

/* @media screen and (max-width: 480px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
} */
